/*Estilo tablet*/
@media only screen and (min-width: 788px) and (max-width: 979px) {

	/*Servicos Home*/
	.servicos_lista li h3{
		margin: 10px 40px;
	}

	/*Qualidade Home*/
	.qualidade:after{
		right: 69px;
	}

	.qualidade_lista li{
		padding: 0 15px;
	}

	/*Serviços*/
	.servico_item h2{
		top: -150px;
	}

	.servico_icone {
		padding: 49px 0 49px 14px;
	}

	.servico_info p {
		font-size: 14px;
		line-height: 20px;
		height: 122px;
		padding: 20px 30px;
	}

	.servico_info ul li{	
		width: 181px;
		height: 49px;
	}

} /*Final do estilo tablet*/

/*Estilo para celular*/
@media only screen and (max-width: 787px) {

	/*Call*/
	.call{
		padding-top: 10px;
	}

	/*Subtitulo*/
	.subtitulo {
		margin-bottom: 30px;
	}

	/*header*/
	.header{
		position: relative;
		padding-bottom: 0;
	}

	.header img{
		margin: 0 auto 10px auto;
	}

	.header_menu{
		text-align: center;
	}
	
	.header_menu ul li{
		margin: 5px;
	}

	.header_menu ul li a{
		color: #18B243;
		border: 4px solid #18B243;
		width: 136px;
		display: block;
		float: left;
	}

	.header_menu ul li a:hover {
		border-color:#FFF;
	}

	.header_menu ul li a.menu_ativo {
		border-color: #FFF;
	}

	/*Introdução*/
	.introducao{
		margin-top: 0px;
		padding-top: 10px;
		background: url("../img/bg-mobile.jpg") no-repeat center;
		background-size: cover;
	}

	.quote-externo {
		max-width: 200px;
	}

	.quote-externo p:before, .quote-externo p:after {
		margin: 15px auto;
	}
	/*Introdução Interna*/
	.introducao-interna{
		margin-top: 0;
	}

	/*Qualidade Home*/

	.qualidade:after{
		display: none;
	}

	.qualidade_lista li p{
		margin-top: 10px;
	}

	/*Sobre*/
	.missao_sobre p{
		font-size: 14px;
		line-height: 20px;
		padding-right: 0;
	}

	.missao_sobre ul li {
		font-size: 14px;
		line-height: 25px;
	}

	/*Serviços*/
	.servico_item h2{
		top: -100px;
		margin-bottom: -77px;
	}

	.servico_icone {
		padding: 49px 0;
	}

	.servico_info p {
		font-size: 14px;
		line-height: 20px;
		height: auto;
		padding: 20px 30px;
	}

	.servico_info ul li{	
		width: 149px;
		height: 49px;
		font-size: 14px;
		line-height: 20px;
		padding-top: 14px;
	}

	/*Orçamento*/
	.form {
		padding-right: 0;
		margin-bottom: 40px;
	}

	.orcamento_dados ul {
		padding-right: 0;
	}
} /*Final do estilo celular*/
