/* Estilos Gerais*/

body {
	font-family: Arial, Helvetica, sans-serif;
}

p {
	font-family: Georgia, "Times New Roman", serif;
	font-size: 18px;
	line-height: 20px;
}

img {
	display: block;
	max-width: 100%;
}

.btn {
	border: 3px solid #FF5659;
	padding: 10px 30px;
	color:#FF5659;
	font-size: 14px;
	line-height: 20px;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: .1em;
}

.btn:hover {
	color: #fff;
	border-color: #fff;
}

.btn.btn-preto:hover {
	color: #000;
	border-color: #000;
}

.subtitulo {
	font-size: 24px;
	line-height: 30px;
	font-weight: bold;
	letter-spacing: .1em;
	color: #000;
	text-transform: uppercase;
	text-align: center;
	margin-bottom: 50px;
}

.subtitulo:after {
	content: "";
	display: block;
	width: 60px;
	height: 3px;
	background: #FF5659;
	margin: 10px auto;
}

/*Subtitulo-Interno*/

.subtitulo-interno {
	font-size: 24px;
	line-height: 30px;
	font-weight: bold;
	letter-spacing: .1em;
	color: #000;
	text-transform: uppercase;
	margin-bottom: 20px;
}

.subtitulo-interno:after {
	content: "";
	display: block;
	width: 60px;
	height: 3px;
	background: #FF5659;
	margin: 10px 0;
}

/* Header */

.header {
	position: fixed;
	top: 0; 
	width: 100%;
	background: #FF5659;/*Rosa*/
	padding: 15px 0px;
	z-index: 10;
	overflow: visible;
}

.header_menu {
	text-align: right;
}

.header_menu ul li {
	display: inline-block;
	margin-left: 25px;
	margin-top: 40px;
}

.header_menu ul li a {
	color: #000;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: .1em;
	font-size: 14px;
	line-height: 20px;
	padding: 10px 0;
}

.header_menu ul li a:hover {
	color:#FFF;

}

.header_menu ul li a.menu_ativo {
	color: #FFF;
}

/* Introdução */

.introducao {
	width: 100%;
	height: 380px;
	background: url("../img/bg-intro.jpg") no-repeat center;
	background-size: cover;
	margin-top: 92px; 
	text-align: center;
	padding-top: 65px;
}

.introducao h1 {
	font-size: 65px;
	color: #000;
	font-family: "Brush Script MT", cursive;
}

.quote-externo {
	max-width: 320px;
	margin: 0 auto;
	margin-bottom: 40px;
	color: #000;
}

.quote-externo p{
	font-style: italic;
}

.quote-externo p:before, .quote-externo p:after {
	content: "";
	display: block;
	width: 60px;
	height: 3px;
	background: #FF5659;
	margin: 20px auto;
}

.quote-externo cite{
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	letter-spacing: .1em;
	text-transform: uppercase;
}

/*Introdução Interna*/

.introducao-interna{
	width: 100%;
	margin-top: 130px;
	height: 160px;
	text-align: center;
	padding-top: 30px;
}
.introducao-interna h1{
	font-size: 36px;
	color: #000;
	font-weight: bold;
	text-transform: uppercase;
}

.introducao-interna h1:after{
	content: "";
	display: block;
	width: 60px;
	height: 3px;
	background: #18B243;
	margin: 10px auto;
}

.introducao-interna p{
	color: #FF5659;
	font-size: 14px;
}

/*Serviços*/

.servicos{
	padding: 60px 0; 
}

.servicos_lista li{
	background: #000;
	text-align: center;
	margin-bottom: 20px;
}

.servicos_lista li img{
	margin: 0 auto;
}

.servicos_lista li h3{
	font-weight: bold;
	font-size: 18px;
	line-height: 25px;
	text-transform: uppercase;
	letter-spacing: .1em;
	margin-top: 10px;
	color: #FF5659;
}

.servicos_lista li h3:after{
	content: "";
	display: block;
	width: 60px;
	height: 3px;
	background: #FF5659;
	margin: 5px auto;
}

.servicos_lista li p{
	padding: 10px 20px 20px 20px;
	font-size: 14px;
	line-height: 20px;
	color:#FF5659;
}

.servicos_icone{
	background: #FF5659;
	padding: 20px;
}

.call{
	padding-top: 40px;
	text-align: center;
	clear: both;
}
.call p{
	font-size: 14px;
	line-height: 20px;
	margin-bottom: 20px;
}
/*Qualidade*/

.qualidade{
	padding: 60px 0;
}

.qualidade:after{
	content: "";
	width: 634px;
	height:83px;
	display: block;
	background: url("../img/linhas.svg") no-repeat center;
	position: absolute;
	top: 209px;
	right: 162px;
	z-index: -1;
}

.qualidade img{
	margin: 0 auto;
}

.qualidade_lista{
	padding-top: 50px;
	/* overflow: auto; clear fixo*/
}

.qualidade_lista li{
	text-align: center;
	padding: 0 40px;
}

.qualidade_lista li h3{
	font-weight: bold;
	font-size: 18px;
	line-height: 25px;
	text-transform: uppercase;
	letter-spacing: .1em;
	margin-top: 10px;
	color: #000;
}

.qualidade_lista li h3:after{
	content: "";
	display: block;
	width: 60px;
	height: 3px;
	background: #18B243;
	margin: 5px auto;
}

/*Quebra*/
.quebra{
	width: 100%;
	height:220px;
	background:url("../img/bg-footer.jpg") no-repeat center;
	background-size: cover;
	text-align: center;
	padding-top: 40px;
}

.quebra .quote-externo{
	color: #FFF;
	max-width: 600px;
}

/*Footer*/
.footer{
	width: 100%;
	background: #FF5659;
	padding-top: 20px;
}

.footer .parte{
	padding-top: 20px;
} 

.footer h3{
	font-size: 18px;
	line-height: 25px;
	text-transform: uppercase;
	letter-spacing: .1em;
	font-weight: bold;
}

.footer h3:after{
	content: "";
	display: block;
	width: 60px;
	height: 3px;
	background: #000;
	margin: 5px 0 12px 0;
}

.footer_hist{
	padding-right: 40px;
}

.footer_cont ul li{
	font-size: 14px;
	line-height: 20px;
	font-family: Georgia, "Times New Roman", serif;
}

.footer_rs ul li{
	display: inline-block;
}

.copy{
	width: 100%;
	background: #000;
	padding: 20px 0;
}

.copy p{
	color: #FF5659;
}

/* JavaScript */
.js [data-anime]{
	opacity: 0;
}

.js .fadeInDown {
	transform: translate3d(0, -20px, 0);
}

.js .anime{
	opacity: 1;
	transform: none;
	transition: opacity 800ms, transform 800ms;
}

.nao-aparece{
	visibility: hidden;
	position: absolute;
	height: 0px;
}

#form-erro{
	color: #ff968A;
}

#form-sucesso{
	color: #97C1A9;
}